#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.re-Counter {
	font-size: 3.5rem;
}

.Counter--positive {
	color: green;
}

.Counter--negative {
	color: red;
}

.re-Counter-wrapButtons {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

@media screen and (max-width: 375px) {
	.re-Counter {
		font-size: 3rem;
	}

	.re-Counter-wrapButtons {
		flex-direction: column;
	}
}
